<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gipuzkoa.hondakinak"
    android:versionCode="12"
    android:versionName="2.5.1">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="gipuzkoa.hondakinak.HondakinFragment"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="gipuzkoa.hondakinak.HondakinHautatua"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>  
              <activity
            android:name="gipuzkoa.hondakinak.hMotaHautatua"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="gipuzkoa.hondakinak.AsteaFragment"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="gipuzkoa.hondakinak.HMotaFragment"
            android:label="@string/title_activity_hmota" 
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>
</manifest>
